@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.kind_wrap {
  border: 2px solid black;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.kind_wrap > .kind_slider {
  overflow: hidden;
}
.kind_wrap > .kind_slider .k_list {
  position: relative;
  /* transition: all 500ms ease;  script로 변경함 */
}
.kind_wrap > .kind_slider .k_list .k_item {
  float: left;
}
.kind_wrap > .kind_slider img {
  vertical-align: top;
}
.kind_wrap .arrow > a.prev {
  position: absolute;
  left: -50px;
  top: 100px;
}
.kind_wrap .arrow > a.next {
  position: absolute;
  right: -50px;
  top: 100px;
}
